langchain
langchain_experimental
langgraph
langchain_google_genai # temp
langchain-openai
langchain_voyageai
python-dotenv  # load_dotenv comes from python-dotenv package
langchain_google_genai
tiktoken
sentence-transformers
pymupdf
langchain_pymupdf4llm
langchain-community
playwright
lxml
langchain_chroma
gradio
rank_bm25
ollama
selenium
requests